<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="margin: 0;padding: 0;font-family: &quot;Helvetica Neue&quot; Arial;">
	<head style="margin: 0;padding: 0;font-family: &quot;Helvetica Neue&quot; Arial;">
		<!-- If you delete this meta tag, Half Life 3 will never be released. -->
		<meta name="viewport" content="width=device-width" style="margin: 0;padding: 0;font-family: &quot;Helvetica Neue&quot; Arial;">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="margin: 0;padding: 0;font-family: &quot;Helvetica Neue&quot; Arial;">
		<title style="margin: 0;padding: 0;font-family: &quot;Helvetica Neue&quot; Arial;">HNGRE</title>
	</head>
	<body bgcolor="#fff" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="margin: 0;padding: 0;font-family: &quot;Helvetica Neue&quot; Arial;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;height: 100%;background: #fff;width: 100%!important;">
		<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">
			<tbody><tr>
				<td align="center" valign="top" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">
					
					
					<span class="HOEnZb"><font color="#888888">
					</font></span><span class="HOEnZb"><font color="#888888">
				</font></span><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border:0;max-width:600px!important">
				<tbody><tr>
					<td valign="top" style="background-color:#fafafa;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
						<tbody>
							<tr>
								<td valign="top">
									
									<table align="left" border="0" cellpadding="0" cellspacing="0" width="366" style="border-collapse:collapse">
										<tbody><tr>
											
											<td valign="top" style="padding-top:9px;padding-left:18px;padding-bottom:9px;padding-right:0;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left">
												
												Welcome to Hngre!&nbsp;
											</td>
										</tr>
									</tbody></table>
									
									<!-- <table align="right" border="0" cellpadding="0" cellspacing="0" width="197" style="border-collapse:collapse">
										<tbody><tr>
											
											<td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:0;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left">
												
												<a style="color:#656565;font-weight:normal;text-decoration:underline">View this email in your browser</a>
											</td>
										</tr>
									</tbody></table> -->
									
								</td>
							</tr>
						</tbody>
					</table></td>
				</tr>
				<tr>
					<td valign="top" style="background-color:#ffffff;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:0"><span><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
						<tbody>
							<tr>
								<td valign="top">
									
									<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
										<tbody><tr>
											
											<td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
												
												<div style="text-align:center"><a href="http://www.hngre.com"><img align="none" height="78" src="http://d3elexjxzly44z.cloudfront.net/mailer/mailchimp-logo1.png" style="width:200px;min-height:78px;margin:0px;border:0;outline:none;text-decoration:none" width="200" class="CToWUd"></a></div>
											</td>
										</tr>
									</tbody></table>
									
								</td>
							</tr>
						</tbody>
					</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
					<tbody>
						<tr>
							<td style="min-width:100%;padding:15px 18px 15px">
								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top-width:1px;border-top-style:solid;border-top-color:#c9ab6e;border-collapse:collapse">
									<tbody><tr>
										<td style="padding-top:25px;padding-bottom:15px">
											<span style="font-size:25px;font-weight:bold">Hello {{name}}</span>
											<span style="font-size:28px"><br><br>What are you gonna have for lunch today?</span>
										</td>
									</tr>
								</tbody></table>
							</td>
						</tr>

					</tbody>
				</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border:0px">
				<tbody>
					<tr>
						<td valign="top" style="padding:0px">
							<table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;border-collapse:collapse">
								<tbody><tr>
									<td valign="top" style="padding-right:0px;padding:0px 5px 0px 15px;text-align:center;boder:0px;margin:0px">
										<table >
											<tr style="max-width:800px;border-collapse:collapse">
												<td >
													<a href={{dishes.branchLink}}><img src={{dishes.dishPhoto}} width="300"  style="border: 2px solid #ed4036"></a>
													</td>
											</tr>
											<tr >
													<td style="background-color:#f9f4ea;border:1px solid white;padding:10px;text-align:left">

														<p style="margin:0px"><b> <a href={{dishes.branchLink}}style="vertical-align:top;margin:0px;color:#af8f4d;min-height: 28px;line-height:25px;font-size:18px;text-decoration: underline">{{dishes.dishName}}</a></b></p>

														<p style="vertical-align:top;margin:0px;color:#af8f4d;min-height: 30px;line-height:25px;font-size:14px;;padding-top:4px">
															{{dishes.merchantName}}<br>
															{{dishes.neighbourhood[0]}}</p>
													</td>
													
											</tr>
											</table>
											
											
											<!-- <a href="http://www.hngre.com"><img align="center" alt="" src="http://d3elexjxzly44z.cloudfront.net/mailer/user-welcome.png" width="600" style="max-width:800px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;min-height:auto;outline:none;text-decoration:none" class="CToWUd a6T" tabindex="0"></a><div class="a6S" dir="ltr" style="opacity: 0.01; left: 821.5px; top: 518px;"><div id=":tb" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="aSK J-J5-Ji aYr"></div></div></div> -->
											
											
										</td>
										<td valign="top" style="padding:0px 15px 0px 5px;;text-align:center;">
											<table >
												<tr >
													<td >
														<a href={{dishes.branchLink}}><img src={{dishes.dishPhoto}} width="300px" style="border: 2px solid #ed4036"></a>
														</td>
													</tr>
													<tr style="margin:0px">
														<td style="background-color:#f9f4ea;border:1px solid white;padding:10px;text-align:left;vertical-align:top-text">
															<p style="margin:0px;"><b> <a href={{dishes.branchLink}} style="vertical-align:top;margin:0px;color:#af8f4d;min-height: 28px;line-height:25px;font-size:18px;text-decoration: underline;">{{dishes.dishName}}</a></b></p>
															<p style="vertical-align:top;margin:0px;color:#af8f4d;min-height: 30px;line-height:25px;font-size:14px;padding-top:4px">
															{{dishes.merchantName}}<br>
															{{dishes.neighbourhood[0]}}</p>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</tbody></table>
								</td>
							</tr>
						</tbody>
					</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
					<!-- <tbody>
						<tr>
							<td style="min-width:100%;padding:10px">
								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
									<tbody><tr>
										<td>
											<span></span>
										</td>
									</tr>
								</tbody></table>
							</td>
						</tr>
					</tbody> -->
				</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
				<tbody>
					<tr>
						<td valign="top">
							
							<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
								<tbody><tr>
									
									<td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
										
										<div style="line-height:20.8px;text-align:left"><br>
											<span style="font-size:16px">
											
											<span style="color:#222222;font-family:arial,sans-serif;line-height:normal">Having trouble deciding? <br/><br/>Discover yummy {{veg_scale}} options like these on Hngre, curated just for you. 
											<br></br>We love hearing from you. So if you’d like to tell us something, anything, please reply to this mail.
 
											<br><br><br>Here for you,<br>
											Team Hngre</span></span></div>
											<!-- <div style="line-height:20.8px;text-align:left"><br>
												<span style="font-size:14px;line-height:30px"><strong>Discover new dishes everyday.</strong><br>
													<span style="font-size:14px"><strong>Search for what you’re craving.</strong><br>
														<span style="font-size:14px"><strong>Create your very own Wishlist.</strong> </span></span></span></div> -->
														<div style="clear:both">&nbsp;</div>
													</td>
												</tr>
											</tbody></table>
											
										</td>
									</tr>
								</tbody>
							</table></span><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
							<tbody>
								<tr>
									<td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center">

										<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border:1px none #c9ab6e;border-radius:5px;background-color:#ed4036">
											<tbody>
												<tr>
													<td align="center" valign="middle" style="font-family:Arial;font-size:16px;padding:20px">
														<a title="Start Using Hngre Now" href="https://bnc.lt/opme/QHSui6020n" style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;display:block">Open Hngre Now</a>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table></td>
					</tr>
					<tr>
						<td valign="top" style="background-color:#ffffff;border-top:0;border-bottom:2px solid #eaeaea;padding-top:0;padding-bottom:9px"></td>
					</tr>
					<tr>
						<td valign="top" style="background-color:#fafafa;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
							<tbody>
								<tr>
									<td align="center" valign="top" style="padding:9px">
										<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
											<tbody><tr>
												<td align="center" style="padding-left:9px;padding-right:9px">
													<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
														<tbody><tr>
															<td align="center" valign="top" style="padding-top:9px;padding-right:9px;padding-left:9px">
																<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
																	<tbody><tr>
																		<td valign="top">
																			
																			
																			
																			
																			<table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
																				<tbody><tr>
																					<td valign="top" style="padding-right:10px;padding-bottom:9px">
																						<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
																							<tbody><tr>
																								<td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
																									<table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
																										<tbody><tr>
																											
																											<td align="center" valign="middle" width="24">
																												<a href="http://www.twitter.com/hngreapp" target="_blank"><img src="http://d3elexjxzly44z.cloudfront.net/mailer/color-twitter-48.png" style="display:block;border:0;min-height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
																											</td>
																											
																											
																										</tr>
																									</tbody></table>
																								</td>
																							</tr>
																						</tbody></table>
																					</td>
																				</tr>
																			</tbody></table>
																			
																			
																			
																			
																			<table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
																				<tbody><tr>
																					<td valign="top" style="padding-right:10px;padding-bottom:9px">
																						<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
																							<tbody><tr>
																								<td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
																									<table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
																										<tbody><tr>
																											
																											<td align="center" valign="middle" width="24">
																												<a href="http://www.hngre.com" target="_blank"><img src="http://d3elexjxzly44z.cloudfront.net/mailer/color-link-48.png" style="display:block;border:0;min-height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
																											</td>
																											
																											
																										</tr>
																									</tbody></table>
																								</td>
																							</tr>
																						</tbody></table>
																					</td>
																				</tr>
																			</tbody></table>
																			
																			
																			
																			
																			<table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
																				<tbody><tr>
																					<td valign="top" style="padding-right:0;padding-bottom:9px">
																						<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
																							<tbody><tr>
																								<td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
																									<table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
																										<tbody><tr>
																											
																											<td align="center" valign="middle" width="24">
																												<a href="http://instagram.com/hngre" target="_blank"><img src="http://d3elexjxzly44z.cloudfront.net/mailer/color-instagram-48.png" style="display:block;border:0;min-height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
																											</td>
																											
																											
																										</tr>
																									</tbody></table>
																								</td>
																							</tr>
																						</tbody></table>
																					</td>
																				</tr>
																			</tbody></table>
																			
																			
																			
																		</td>
																	</tr>
																</tbody></table>
															</td>
														</tr>
													</tbody></table>
												</td>
											</tr>
										</tbody></table>
									</td>
								</tr>
							</tbody>
						</table><span class="HOEnZb"><font color="#888888">
					</font></span><span class="HOEnZb"><font color="#888888">
				</font></span><span class="HOEnZb"><font color="#888888">
			</font></span><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
			<tbody>
				<tr>
					<td valign="top">
						
						<span class="HOEnZb"><font color="#888888">
						</font></span><span class="HOEnZb"><font color="#888888">
					</font></span><table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
					<tbody><tr>
						
						<td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">
							
							<em>Copyright © 2015 Hngre.com, All rights reserved.</em><br>
							<br>
							<br>
							<strong>Our mailing address is:</strong><br>
							5015, 38th Street, Long Island City, NY - 11101 <br>
							<br>
						</font></span></td></tr></tbody></table><span class="HOEnZb"><font color="#888888">
						
					</font></span></td></tr></tbody></table></td></tr></tbody></table><span class="HOEnZb"><font color="#888888">
					
					
				</font></span></td></tr></tbody></table>
				<!-- FOOTER -->
			</body>
		</html>